# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET='7fc25efb52473a1471fdd7bd3c81b3b6'

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY='xai-COcMrC67fTyKSMYQkOU7GbAmKBq3y1kCM0aUpwNdeov1slOhc8ByqJIIutdYww86XmobtrmtwbBEAkVA'

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN='https://vercel.com/khajas-projects-7870b422/~/stores/integration/neon/store_6OxMyY5V0V8yAXfY/guides'

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL='https://vercel.com/khajas-projects-7870b422/~/stores/integration/neon/store_6OxMyY5V0V8yAXfY/guides'
